body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  body {
    background: linear-gradient(to bottom right, rgb(0, 29, 31), rgb(0, 84, 90));
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  img{
    width: 100px;
    margin-bottom: 25px;
  }
  .container {
    width: 100%;
    height: 100%;
    z-index: 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  
  .separator-with-text {
    width: 70%;
    text-align: center;
    border: none;
    line-height: 0;
    margin: 20px 0;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .separator-with-text::before, .separator-with-text::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #aaa;
  }
  
  .separator-with-text::before {
    margin-right: 10px;
  }
  
  .separator-with-text::after {
    margin-left: 10px;
  }
  
  .separator-with-text span {
    display: inline-block;
    padding: 0 10px;
    color: #aaa;
    background: #000;
    font-size: 12px;
  }
  
  h3{
    font-weight: 400;
    font-size: 45px;
  }
  
  .form{
    display: grid; 
    justify-content: center;
    align-items: center;
  }
  
  input{
    width: 300px;
    height: 40px;
    padding-left: 15px;
    font-family: system-ui;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.137);
    color: white;
  }
  
  button{
    background-color: rgb(0, 129, 138);
    color: white;
    margin-top: 25px;
    width: 317px;
  }
  
  .btnRegister{
    background-color: rgb(0, 129, 138);
    color: white;
    width: 317px;
    margin-bottom: 45px;
  }
